{% extends "base.html" %}

{% block start %}


<section>
    <div class="container">
       
        <div class="row text-center">
            <div class="col-xl-10 mx-auto"><img class="img-fluid mb-5"
                    src="/media/{{blog_obj.image}}"
                    alt=""></div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content">
                    {{blog_obj.content|safe}}
                </div>
            </div>
        </div>
    </div>
</section>

<hr>
<form method="post">
    {%csrf_token %}
    <h5> Comment Here</h5>
    {{form.as_p}}
    <input type ="submit" value="Comment">
</form>
 
{%for comment in comments%}
<p><strong><i>{{comment.your_name}}</i>:</strong> {{comment.comment_text}}</p>
{%endfor %}
{% endblock %}